<div class="col-md-4 d-block mx-auto p-8">
  <div class="card custom-card">
    <h3 class="text-center p-2 pt-4">
      Stock Scanner
     </h3>
    <div class="card-title text-center pt-1">
      <div class="text-center">
        <h4 class="clr-white m-0 title">Recover Your Password</h4>
        <div class="text-center p-1" *ngIf="expiredLinkErrorMsg">
          <p class="alert alert-danger text-left" role="alert" style="font-family: initial; line-height: 20px;">
            {{expiredLinkErrorMsg}}
          </p>
          <button type="button" routerLink="/login"
            class="btn btn-default px-4 btn-gray btn-square w-50 pt-2 ml-2">Login</button>
        </div>
      </div>
      <div class="card-body " *ngIf="!expiredLinkErrorMsg">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-lock"></i>
            </span>
          </div>
          <input [type]="passwordEncrypt.newPass" maxlength="15" id="newPass" [(ngModel)]="userData.password"
            class="form-control" placeholder="Enter new password"
            (ngModelChange)="checkStrongPassword(userData.password)" (keypress)="AvoidSpace($event)">
          <div class="input-group-prepend custom-cursor-pointer"
            (click)="changeTextToPassword(passwordEncrypt.newPass, 'newPass')">
            <span class="input-group-text">
              <i class="fa fa-eye"></i>
            </span>
          </div>
          <p class="alert alert-danger text-left" role="alert" *ngIf="!validPassword">
            Your password should be minimum 8 characters with 1 number and 1 upper case and 1 special character.
          </p>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-lock"></i>
            </span>
          </div>
          <input [type]="passwordEncrypt.confPass" maxlength="15" id="confPass" [(ngModel)]="userData.confirmPassword"
            class="form-control" placeholder="Enter confirm password" (keypress)="AvoidSpace($event)">
          <div class="input-group-prepend custom-cursor-pointer"
            (click)="changeTextToPassword(passwordEncrypt.confPass, 'confPass')">
            <span class="input-group-text">
              <i class="fa fa-eye"></i>
            </span>
          </div>
          <p class="alert alert-danger text-left" role="alert"
            *ngIf="((userData.password != '' && userData.confirmPassword != '') && (userData.password != userData.confirmPassword)) ? errorMessage : ''">
            {{errorMessage}}
          </p>
        </div>
        <div class="row ml-0 mr-0 flex-nowrap gray-border pt-30 mt-30">
          <button type="button" routerLink="/login"
            class="btn btn-default px-4 mr-2 btn-square btn-gray w-50">Cancel</button>
          <button type="button" (click)="recoverPassword()" class="btn btn-primary px-4 mr-2 btn-square w-50">Login
          </button>
        </div>
      </div>
    </div>
  </div>
</div>