<div class="row">
  <div class="col-md-12">
    <h4 class="text-primary"> <b>Crypto Currency </b> </h4>
    <hr />
  </div>
</div>
<!-- End Page Header -->
<div class="row">
  <div class="col-sm-12">
    <div class="card" style="min-height: 550px;">
      <div class="card-body text-left table-responsive">
        <div class="row">
          <div class="col-sm-12 d-flex justify-content-end mb-3">
            <button type="button" class="btn btn-primary" (click)="showAddEditModal()"><i
                class="fa fa-plus mr-1"></i>Add Crypto Currency</button>
          </div>
        </div>
        <table [dtOptions]="dtOptions" datatable [dtTrigger]="dtTrigger"
          class="table table-bordered table-hover table-striped">
          <thead>
            <tr class="text-white text-nowrap bg-dark">
              <th class="text-white bg-dark" style="width: 50px;">S.No.</th>
              <th class="text-white bg-dark">name</th>
              <th class="text-white bg-dark">updated Date</th>
              <th class="text-white bg-dark">created Date</th>
              <th class="text-white bg-dark">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let crypto of cryptoList; let i=index">
              <th>{{i+1}}</th>
              <td>{{crypto.name}}</td>
              <td>{{crypto.updatedAt | date: 'yy/MM/dd'}}</td>
              <td>{{crypto.createdAt | date: 'yy/MM/dd'}}</td>
              <td>
                <div class="btn-group">
                  <button type="button" class="tn btn-sm btn-outline-primary" (click)="showAddEditModal(crypto)"><i
                      class="fa fa-pencil"></i></button>
                  <button type="button" class="btn btn-sm btn-outline-danger" (click)="showshowActionModal(crypto)"><i
                      class="fa fa-trash-o"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- <pre [innerHtml]="cryptoList | json"> </pre> -->

<div bsModal #showAddEditCryptoSymbolModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-white">{{newSymbol._id ? 'Edit': 'Add'}} Crypto Currency</h4>
        <button type="button" class="close text-white" (click)="closeModel()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row row-xs align-items-center mg-b-20">
          <div class="col-md-2">
            <label class="font-weight-bold mg-b-0">
              Name
              <sup> <i class="fa fa-star star-icon" aria-hidden="true"
                  [ngClass]="{'text-secondary': !newSymbol?.name, 'text-primary': newSymbol?.name}"></i>
              </sup>
            </label>
          </div>
          <div class="col-md-10 mg-t-5 mg-md-t-0">
            <input type="text" id="name" maxlength="40" name="name" [(ngModel)]="newSymbol.name" class="form-control"
              placeholder="Please enter Crypto Symbol name">
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <app-alert></app-alert>
        <button class="btn btn-primary" (click)="saveCryptoSymbol()">{{newSymbol._id ? 'Update': 'Save'}}</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #deleteCryptSymboModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-white"><i class="fa fa-trash"></i> Delete Crypto Symbol</h4>
        <button type="button" class="close text-white" (click)="closeModel()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Are you sure want to delete this Crypto Currency?</h4>
        <p>
          <b>Crypto Symbol Name:</b> {{newSymbol?.name}}<br />
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeModel()">Close</button>
        <button type="button" class="btn btn-danger" (click)="deletecryptoSymbol()">Delete</button>
      </div>
    </div>
  </div>
</div>