<div class="row">
  <div class="col-md-12">
    <h4 class="text-primary"> <b>Welcome To Coins/Stock Market</b> </h4>
    <hr />
  </div>
</div>
<!-- End Page Header -->
<div class="row">
  <div class="col-sm-12">
    <div class="card" style="min-height: 550px;">
      <h4 class="text-primary pt-3 pl-3 pr-3"> <b>24 hr price gain.</b>
        <a title="View All Location" [routerLink]="['/watchlist']" class="btn btn-sm btn-dark pull-right"> <i
            class="fa fa-list pr-2"> </i> Watch
          List</a>
        <hr>
      </h4>
      <div class="card-body text-left table-responsive pt-1">
        <table [dtOptions]="dtOptions" datatable [dtTrigger]="dtTrigger"
          class="table table-bordered table-hover table-striped">
          <thead>
            <tr class="text-white text-nowrap bg-dark">
              <th class="text-white bg-dark" style="width: 50px;">S.No.</th>
              <th class="text-white bg-dark" style="width: 300px;">Symbol Name</th>
              <th class="text-white bg-dark">Short Name</th>
              <th class="text-white bg-dark">Code</th>
              <th class="text-white bg-dark">20 Days of Vol Avg.</th>
              <th class="text-white bg-dark">Today Vol</th>
              <th class="text-white bg-dark">Today Vol VS 20 Day of Vol Avg.</th>
              <th class="text-white bg-dark">24Hr Change</th>
              <th class="text-white bg-dark">7Day Change</th>
              <th class="text-white bg-dark">Details Date</th>
              <th class="text-white bg-dark">History</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let coinDetails of coinLivechangeList; let i=index">
              <th>{{i+1}}</th>
              <td>
                <a title="View api" href="https://www.coingecko.com/en/coins/{{coinDetails?.details?.id}}"
                  target="_blank" style="text-decoration: underline !important;">
                  {{coinDetails.name}} </a>
              </td>
              <td>{{coinDetails.shortName}}</td>
              <td>{{coinDetails?.details?.codeType}}</td>
              <td>{{coinDetails.volAvgof20Days}}</td>
              <td>{{coinDetails.todayVol}}</td>
              <td>{{coinDetails.todayVolVsvolAvgof20Days}} %</td>
              <td>{{coinDetails.change24Hrs}} %</td>
              <td>{{coinDetails.change7Day}} %</td>
              <td>{{coinDetails.createdAt | date: 'dd/MM/yyyy'}}</td>
              <td>
                <button [disabled]="coinDetails.history.length > 1 ? false: true " class="btn btn-primary"
                  (click)="showChartModel(coinDetails)"> <i class="fa fa-history"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div bsModal #showChartModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-white">Crypto Currency History</h4>
        <button type="button" class="close text-white" (click)="closeModel()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4 class="modal-title p-2" *ngIf="chartDataHistory.length"><a
            href="https://www.coingecko.com/en/coins/{{chartDataHistory[0]?.details?.id}}" target="_blank"
            style="text-decoration: underline !important;">
            {{chartDataHistory[0].name}} </a>
        </h4>
        <div class="row row-xs align-items-center mg-b-20">
          <div class="w-100 position-relative" style="display: block;">
            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
              [plugins]="lineChartPlugins" [legend]="lineChartLegend" [chartType]="lineChartType">
            </canvas>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <app-alert></app-alert>
        <button type="button" class="btn btn-primary" (click)="closeModel()" aria-label="Close">
          close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <pre [innerHtml]="coinLivechangeList | json"> </pre> -->