// agm-map {
//   height: 500px;
// }
#Map_canvas {
  height: 500px;
}

.position-filter {
  position: absolute;
  z-index: 9999;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.max-width-450 {
  max-width: 450px;
  width: 100%;
}
